<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Almacen Loco</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                  <a href="/recipes">Recetas</a>
              </li>
              <li>
                  <a href="/ingredients">Ingredientes</a>
              </li>
              <li>
                  <a href="/dishes">Platillos</a>
              </li>
              <li>
                  <a href="/subingredients">Almacen</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login</a></li>
              <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="index">
  <p id="notice"><%= notice %></p>

  <h1>Listing Orders</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
    <% if @orders %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.created %></td>
          <td><%= link_to 'Entregar', deliver_path(:nom => order.name) , :class=>'btn-sm btn-primary' %></td>
        </tr>
      <% end %>
    <% else %>
    <tr>

        <h1>NO HAY NINGUNA ORDEN</h1>

    </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
